.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 423px;
  padding: 1.5em;
  width: 100%;
  height: fit-content;
  color: #fff;
  background-color: #035041;
  color: #fff;
  overflow-y: auto;
  background-color: #035041;

  .comment-form__info {
    display: flex;
    justify-content: space-between;
  }
}

.comment-form__info__input {
  width: 47%;
}

.comment-form__btns {
  display: flex;
  justify-content: space-between;
}

.action-btn {
  font-size: .8em;
  margin-top: 1em;
}

@media (max-width: 630px) {
  .comment-form__info {
    flex-direction: column;
  }

  .comment-form__info__input {
    width: 100%;
  }

}

@media (min-width: 470px) {
  .comment-form {
    padding: 2em;
  }

  .action-btn{
    font-size:1em
  }
}
