.home {
  margin: 2em 5%;

  .home_text {
    font-size: 1.4em;
  }

  .home_socials {
    display: flex;
    gap: 2em;
    width: 100%;
    justify-content: center;
    margin: 3em 0 2em;

    i {
      cursor: pointer;
      font-size: 2em;
      color: rgb(90, 255, 200);
    }
  }
}

.home_title {
  line-height: 100%;
  font-size: 7em;
}

@media (max-width: 400px) {
  .home_title {
    font-size: 5em;
  }
}
