.comments-wrapper {
  border-radius: 14px;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  box-shadow: 10px 10px 19px rgba($color: #000000, $alpha: 0.3);
  background-color: #035041;
  grid-area: comments;
  padding-bottom: 0.5em;
}

.comments {
  font-size: 0.8em;
  color: #fff;
  margin-bottom: -30px;
  max-height: 450px;
  overflow-y: auto;
  background-color: #035041;
  padding: 1.5em 1em;
}

.comments__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.4em;
}

.heading-comments {
  line-height: 100%;
  font-size: 2.2em;
}

.add-comment-btn {
  align-self: baseline;
  font-size: 0.9em;
  font-weight: 500;
  max-width: 40%;
  place-self: center;
}

.comments__list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .comment {
    display: flex;
    gap: 0.7em;
    border-bottom: 1px solid rgb(0, 165, 118);

    &.comment-last {
      border-bottom: none;
    }

    .comment__content {
      width: 90%;
      display: flex;
      flex-direction: column;
      white-space: pre-wrap;
      word-break: break-word;

      .comment__content__author {
        margin-bottom: 0.22em;
        font-size: 1.5em;
      }

      .comment__content__text {
        white-space: pre-wrap;
        word-break: break-word;
        font-size: 1.2em;
      }
    }
  }
}

.comment__image-wrapper {
  width: 16%;
  height: fit-content;
  aspect-ratio: 1;
  background-color: rgb(194, 194, 194);
  border-radius: 50%;
  border: 2px solid rgb(14, 193, 121);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .comment__image {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 420px) {
  .comments {
    font-size: 1em !important;
  }

  .comments__header {
    flex-direction: row;
    gap: 0;
  }

  .add-comment-btn {
    place-self: center;
  }
}

@media (min-width: 500px) {
  .heading-comments {
    font-size: 3em;
  }

  .add-comment-btn {
    font-size: 1em;
  }

  .comments__list {
    margin-left: 1em;
  }

  .comment__image-wrapper {
    width: 12%;
    border: 3px solid rgb(14, 193, 121);
  }
}

@media (min-width: 700px) {
  .comment__image-wrapper {
    width: 7%;
  }

  .comments__header {
    padding: 0 0.4em 0 0.6em;
  }
}

@media (max-width: 630px) {
  .comments {
    max-height: 489px;
  }
}

@media (max-width: 250px) {
  .comments__header {
    font-size: 0.8em;
  }
}

@media (max-width: 215px) {
  .comments__header {
    font-size: 0.5em;
  }
}
