.comments-wrapper {
  border-radius: 14px;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  box-shadow: 10px 10px 19px rgba($color: #000000, $alpha: 0.3);
  background-color: #035041;
  grid-area: comments;

  .comments {
    color: #fff;
    margin-bottom: -18px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #035041;
    padding: 1em;
  }
}

.comments__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0 0.4em 0 0.6em;
  gap: 0.4em;
}

.comments__header__heading {
  font-size: 2em;
}

.add-comment-btn {
  align-self: baseline;
  font-size: 0.9em;
  font-weight: 500;
  max-width: 40%;
  place-self: center;
}

.comments__list {
  display: flex;
  flex-direction: column;
  gap: 0.7em;

  .comment {
    display: flex;
    border-bottom: 1px solid rgb(0, 165, 118);
    margin-right: 1em;

    .comment__content {
      width: 80%;
      display: flex;
      flex-direction: column;
      white-space: pre-wrap;
      word-break: break-word;

      .comment__content__title {
        margin-bottom: 0.22em;
        font-size: 1.5em;
      }

      .comment__content__author {
        font-size: 1.2em;
      }
    }
  }
}

.comment__image-wrapper {
  width: 2.3em;
  height: 2.3em;
  background-color: rgb(194, 194, 194);
  border-radius: 50%;
  margin: 0.5em;
  border: 2px solid rgb(14, 193, 121);
  overflow: hidden;
  display: flex;
  align-items: center;

  .comment__image {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 355px) {
  .comment__content {
    margin-left: 0.6em;
  }

  .comments__header {
    flex-direction: row;
    gap: 0;
  }

  .add-comment-btn {
    place-self: center;
  }

  .comment__image-wrapper {
    width: 3em;
    height: 3em;
    margin: 0.4em 0 0 0;
  }
}

@media (min-width: 500px) {
  .comments__header__heading {
    font-size: 3em;
  }

  .add-comment-btn {
    font-size: 1em;
  }

  .comments__list {
    margin-left: 1em;
  }
  
  .comment__image-wrapper {
    width: 3em;
    height: 3em;
    margin: 0.4em 0 0 0;
    border: 3px solid rgb(14, 193, 121);
  }
}
