nav {
  background-color: #7fffd4 !important;
  padding: 0.7em !important;
  a {
    font-size: 1.4em !important;
    &.nav-link.active {
      font-weight: 500;
      text-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.2) !important;
    }
  }

  .navbar-brand {
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.3em;
    font-weight: 600;
    font-size: 3em !important;
    line-height: 90%;
    padding: 0;
    margin-top: auto;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: flex;
    gap: 1.7em;
    text-align: center;
    translate: -22%;
  }

  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
}
@media (max-width: 1100px) and (min-width: 992px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: flex;
    gap: 0;
    text-align: center;
    translate: -10%;
  }

  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
}
