.posts {
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: center;
  margin: 2em 0;

  .post-previews {
    display: grid;
    width: 85%;
    gap: 4em;
  }
}

@media screen and (min-width: 760px) {
  .post-previews {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1250px) {
  .posts{
    margin: 4em 0;
  }
  
  .post-previews {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1800px) {
  .post-previews {
    grid-template-columns: repeat(4, 1fr);
  }
}
