.post-page {
  margin: 1em 5em 4em;
  display: flex;
  width: 90%;
  max-width: 2000px;
  justify-content: start;
}

.post {
  display: grid;
  grid-template-areas:
    "image image image"
    "content content content"
    "comments comments comments";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2em;
  justify-items: center;
  width: 100%;

  .header__image {
    width: 100%;
    height: min-content;
    border-radius: 10px;
    box-shadow: 7px 5px 17px rgba(0, 0, 0, 0.479);
    aspect-ratio: 1.4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(49, 49, 49, 0.479);
  }

  .post__content {
    grid-area: content;
    width: 100%;

    .header__title__heading {
      font-size: 4.5em;
      line-height: 100%;
      margin-bottom: 0.3em;
      letter-spacing: .02em;
    }

    .header__title__author {
      font-size: 2em;
      font-weight: 300;
      letter-spacing: 0.1em;
    }
  }
}

.post__content__text {
  width: 100%;
  word-wrap: break-word;
  font-size: 1.4em;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2em;
  white-space: pre-wrap;
  word-break: break-word;
}

.post__content__actions {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: end;
  gap: 1em;
}

@media (min-width: 800px) {
  .header {
    flex-direction: row;

    .header__image{
      width: 70%
    }
    .header__title {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;

      .header__title__heading {
        text-align: center;
        line-height: 110%;
        font-size: 6em;
        align-self: center;
      }

      .header__title__author {
        font-size: 2.3em;
        text-align: center;
      }
    }
  }
}
@media (min-width: 1400px) {
  .header__title__heading {
    font-size: 8em !important;
  }
}

@media (min-width: 1700px) {
  .header__title__heading {
    font-size: 9em !important;
  }
}

@media (max-width: 700px) {
  .post__content__text {
    font-size: 1.3em;
  }
}

@media (max-width: 355px) {
  .post {
    font-size: 0.9em;
  }
}
